os
langchain
openai
python-docx
pytesseract
Pillow
fastapi
uvicorn
pandas
python-multipart
tqdm
unstructured
pdfplumber
dotenv
langchain-google-genai
google-generativeai
fastapi
tempfile
uvicorn